/* 12bool */
/* Reset */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* Debug */
.debug .container {
  border: 1px solid red;
}

.debug [class*="col-"] {
  background-color: pink;
  border: 1px solid blue;
  height: 300px;
}

.debug [class*="col-"] > .container {
  height: 100%;
}

.debug [class*="col-"] > .container [class*="col-"] {
  background-color: lightcoral;
  height: 100%;
}

/* General */
.container {
  max-width: 1170px;
  margin: 0 auto;
}

.container::after {
  content: "";
  display: table;
  clear: both;
}

[class*="col-"] {
  float: left;
}

/* Media Query (min) */
@media all and (max-width: 767px) {

/* Columns */
.col-xs-1 {
  width: calc( 100% / 12 );
}

.col-xs-2 {
  width: calc( (100% / 12) * 2 );
}

.col-xs-3 {
  width: calc( (100% / 12) * 3 );
}

.col-xs-4 {
  width: calc( (100% / 12) * 4 );
}

.col-xs-5 {
  width: calc( (100% / 12) * 5 );
}

.col-xs-6 {
  width: 50%;
}

.col-xs-7 {
  width: calc( (100% / 12) * 7 );
}

.col-xs-8 {
  width: calc( (100% / 12) * 8 );
}

.col-xs-9 {
  width: calc( (100% / 12) * 9);
}

.col-xs-10 {
  width: calc( (100% / 12) * 10 );
}

.col-xs-11 {
  width: calc( (100% / 12) * 11 );
}

.col-xs-12 {
  width: 100%;
}

/* Offset */
.col-xs-offset-1 {
  margin-left: calc( 100% / 12 );
}

.col-xs-offeset-2 {
  margin-left: calc( (100% / 12) * 2 );
}

.col-xs-offset-3 {
  margin-left: calc( (100% / 12) * 3 );
}

.col-xs-offset-4 {
  margin-left: calc( (100% / 12) * 4 );
}

.col-xs-offset-5 {
  margin-left: calc( (100% / 12) * 5 );
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-7 {
  margin-left: calc( (100% / 12) * 7 );
}

.col-xs-offset-8 {
  margin-left: calc( (100% / 12) * 8 );
}

.col-xs-offset-9 {
  margin-left: calc( (100% / 12) * 9);
}

.col-xs-offset-10 {
  margin-left: calc( (100% / 12) * 10 );
}

.col-xs-offset-11 {
  margin-left: calc( (100% / 12) * 11 );
}

/* Display None */
.col-xs-none {
  display: none;
}

}

/* Media Query (md) */
@media all and (min-width: 768px) and (max-width: 991px) {

/* Columns */
.col-md-1 {
  width: calc( 100% / 12 );
}

.col-md-2 {
  width: calc( (100% / 12) * 2 );
}

.col-md-3 {
  width: calc( (100% / 12) * 3 );
}

.col-md-4 {
  width: calc( (100% / 12) * 4 );
}

.col-md-5 {
  width: calc( (100% / 12) * 5 );
}

.col-md-6 {
  width: 50%;
}

.col-md-7 {
  width: calc( (100% / 12) * 7 );
}

.col-md-8 {
  width: calc( (100% / 12) * 8 );
}

.col-md-9 {
  width: calc( (100% / 12) * 9);
}

.col-md-10 {
  width: calc( (100% / 12) * 10 );
}

.col-md-11 {
  width: calc( (100% / 12) * 11 );
}

.col-md-12 {
  width: 100%;
}

/* Offset */
.col-md-offset-1 {
  margin-left: calc( 100% / 12 );
}

.col-md-offeset-2 {
  margin-left: calc( (100% / 12) * 2 );
}

.col-md-offset-3 {
  margin-left: calc( (100% / 12) * 3 );
}

.col-md-offset-4 {
  margin-left: calc( (100% / 12) * 4 );
}

.col-md-offset-5 {
  margin-left: calc( (100% / 12) * 5 );
}

.col-md-offset-6 {
  margin-left: 50%;
}

.col-md-offset-7 {
  margin-left: calc( (100% / 12) * 7 );
}

.col-md-offset-8 {
  margin-left: calc( (100% / 12) * 8 );
}

.col-md-offset-9 {
  margin-left: calc( (100% / 12) * 9);
}

.col-md-offset-10 {
  margin-left: calc( (100% / 12) * 10 );
}

.col-md-offset-11 {
  margin-left: calc( (100% / 12) * 11 );
}

/* Display None */
.col-md-none {
  display: none;
}

}

/* Media Query (lg) */
@media all and (min-width: 992px) {

/* Columns */
.col-lg-1 {
  width: calc( 100% / 12 );
}

.col-lg-2 {
  width: calc( (100% / 12) * 2 );
}

.col-lg-3 {
  width: calc( (100% / 12) * 3 );
}

.col-lg-4 {
  width: calc( (100% / 12) * 4 );
}

.col-lg-5 {
  width: calc( (100% / 12) * 5 );
}

.col-lg-6 {
  width: 50%;
}

.col-lg-7 {
  width: calc( (100% / 12) * 7 );
}

.col-lg-8 {
  width: calc( (100% / 12) * 8 );
}

.col-lg-9 {
  width: calc( (100% / 12) * 9);
}

.col-lg-10 {
  width: calc( (100% / 12) * 10 );
}

.col-lg-11 {
  width: calc( (100% / 12) * 11 );
}

.col-lg-12 {
  width: 100%;
}

/* Offset */
.col-lg-offset-1 {
  margin-left: calc( 100% / 12 );
}

.col-lg-offeset-2 {
  margin-left: calc( (100% / 12) * 2 );
}

.col-lg-offset-3 {
  margin-left: calc( (100% / 12) * 3 );
}

.col-lg-offset-4 {
  margin-left: calc( (100% / 12) * 4 );
}

.col-lg-offset-5 {
  margin-left: calc( (100% / 12) * 5 );
}

.col-lg-offset-6 {
  margin-left: 50%;
}

.col-lg-offset-7 {
  margin-left: calc( (100% / 12) * 7 );
}

.col-lg-offset-8 {
  margin-left: calc( (100% / 12) * 8 );
}

.col-lg-offset-9 {
  margin-left: calc( (100% / 12) * 9);
}

.col-lg-offset-10 {
  margin-left: calc( (100% / 12) * 10 );
}

.col-lg-offset-11 {
  margin-left: calc( (100% / 12) * 11 );
}

/* Display None */
.col-lg-none {
  display: none;
}

}
